<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>-ยบ-Encuesta-ยบ-</title>
    <br> <br> <br>
  
    <meta name="description" content="voting using Node.js">
    <meta name="author" content="automatas">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function () {
            var socket = io.connect('192.168.43.76:8000',{ 'forceNew': true });

            socket.on('server_response', function (data) {
                console.log('El servidor dice: ' + data.response);
            });

            var votedBefore = false;

            var all_votes;
            var yes_votes;
            var no_votes;
            
            
            //andrea pon el tuyo por aca y borras el texto
            
            
            <p>Numero de personas por Perros: <span id="showYesses"></span> </p> 
      <p>Numero de Personas por Gatos: <span id="showNos"></span></p><br/>
      </form>
</body>
</html>

